/* common styles */

html, body {
	text-align: center;
	justify-content: center;
	align-items: center;
}

body {
    font-family: 'Inter', sans-serif;

    font-size: 16px;
    color: #333;
    font-weight: 400;
    line-height: 19px;

    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

*::after,
*::before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.container {
    width: 100%;

    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

/* hr */

.footer__hr {
    border: 0;
    background-color: #fff;
    width: 100%;
    height: 2px;
    margin: 47px 0 50px 0;
    opacity: 0.06;
}

* {
	margin: 0;
	padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

h1{
	font-size: 48px;
	color: #212121;
}

input{
    padding: 0;
    margin: 0;
    border: 0;
    border: none;
  }

a{
    text-decoration: none;
    color: inherit;
}
  
ul,
li,
p{
    margin: 0;
    padding: 0;
    list-style: none;
}

/* common styles */

/* block-1-2 */
.header {
    width: 100%;
    min-height: 79px;
  }

  .logo {
    padding-top: 24.9px;
   
    float: left;
  
  }
  
  .nav__menu{
    padding-top: 31.5px;
    padding-left: 222.5px;
    float: left;
  }
  .menu__item{
    display: inline-block;
  }
  .menu__item+.menu__item{
    padding-left: 27.85px;
  }
  
  .menu__ul li:first-child{
    font-weight: 700;
    color: #3563E9;
  }
  
  .reg__buttons{
    padding-top: 22px;
    float: right;
  }
  
  .reg__button{
    font-family: inter;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 22px;
    gap: 10px;
    width: 102px;
    height: 35px;
    border: 1px solid #3563E9;
    border-radius: 5px;
    color: #3563E9;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .reg__buttons .reg__button{
    display: inline-block;
  }
  
  .reg__buttons button:nth-child(2){
    background: #3563E9;
    color: #FFF;
  }
  
  .main__frame{
    width: 100%;
    min-height: 735px;
    background-color: #3563E9;
    margin-bottom: 80px;
  }
  
  .main__text{
    padding-top: 198.5px;
    Font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    text-align: center;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    color: #FFFFFF;
  
  }
  
  .description__text{
    padding-top: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FAFAFA;
  }
  
  .input__form{
    padding-top: 50px;
    padding-left: 350px;
  }
  
  .email__form{
    float: left;
    width: 375px;
    min-height: 52px;
    background: #2851E3;
    border-radius: 5px;
  }
  
  input.email__form::placeholder{
    width: 110px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #E0E0E0;
    flex: none;
    order: 1;
    flex-grow: 0;
    padding-left: 54px;
  }
  
  .email__form:first-child{
    background-image: url(../img/email_icon.svg);
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: top 14px left 20px;
  }
  
  .email__button{
    margin-left: 20px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.46px;
    align-items: center;
    padding: 8px 22px;
    width: 105px;
    height: 52px;
    border: 1px solid #3563E9;
    border-radius: 5px;
    color: #3563E9;
  }

/* block-1-2 */

/* block-3-4 */

#Frame17 {
	/* Frame 17 */
	/* Auto layout */

	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;
	gap: 32px;
	margin-top: 80px;
	width: 100%;
	height: 220px;
	/* Inside auto layout */

	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
}

#Frame16 {
	/* Frame 16 */
	/* Auto layout */

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px;
	gap: 24px;
	width: 952px;
	height: 164px;
	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;
}


#textrhoncus {
	/* Rhoncus, accumsan dictum */


	width: 268px;
	height: 24px;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.2px;
	text-transform: capitalize;
	/* systemGrey/600 */

	color: #757575;
	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;
}

#Feature {
    margin-bottom: 100px;
}

#textetiam {
	/* Etiam nulla lectus amet nunc molestie at vulputate. */


	width: 952px;
	height: 116px;
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 58px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.2px;
	text-transform: capitalize;
	/* systemGrey/900 */

	color: #212121;
	/* Inside auto layout */

	flex: none;
	order: 1;
	flex-grow: 0;
}

#textneque {
	/* Neque, pulvinar vestibulum non aliquam. */


	width: 398px;
	height: 24px;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.2px;
	text-transform: capitalize;
	/* systemGrey/600 */

	color: #757575;
	/* Inside auto layout */

	flex: none;
	order: 1;
	flex-grow: 0;
}

#Frame53 {
	/* Frame 53 */
	/* Auto layout */

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 32px;
	width: 100%;
	height: 458px;
	/* Inside auto layout */

	flex: none;
	order: 1;
	flex-grow: 0;
}

.Frame51 {
	/* Frame 51 */
	/* Auto layout */

	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 39px;
	width: 100%;
	height: 213px;
	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;
}

.Frame48 {
	/* Frame 48 */
	/* Auto layout */

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	gap: 22px;
	width: 374px;
	height: 213px;
	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;
}

.avatar {
	/* Avatar */


	width: 60px;
	height: 60px;
	/* light/primary/a8 */

	background: #EFF3FD;
	border-radius: 50px;
	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;
}

.Frame47 {
	/* Frame 47 */
	/* Auto layout */

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px;
	gap: 16px;
	width: 334px;
	height: 91px;
	/* Inside auto layout */

	flex: none;
	order: 1;
	flex-grow: 0;
}

.top {
	/* Et, odio elementum */


	width: 212px;
	height: 27px;
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 27px;
	/* identical to box height */

	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.2px;
	text-transform: capitalize;
	/* systemGrey/900 */

	color: #212121;
	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;
}

.bottom {
	/* Aliquam vehicula pellentesque id mi quam ipsum. Arcu nisl faucibus mattis etiam. */


	width: 334px;
	height: 48px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	/* or 150% */

	text-align: center;
	letter-spacing: 0.2px;
	text-transform: capitalize;
	/* systemGrey/700 */

	color: #616161;
	/* Inside auto layout */

	flex: none;
	order: 1;
	flex-grow: 0;
}

.icon {
	/* Icon/Feather Icon */

	display: inline-block;
	width: 48px;
	height: 48px;
	margin-top: 16px;
}

/* block-3-4 */

/* block-5-6 */

.wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.clientsSaysTop{
	text-align: center;
}

.clientsSaysTop h1 {
    margin-bottom: 32px;
    margin-top: 80px;
}

.clientsSaysTop > p{

	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.20000000298023224px;
	color: #757575;
}

.clientsSaysBody{
	margin-top: 70px;
	display: flex;
}

.clientsSaysBodyT{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 38px;
	width: 510px;
}

.clientsSaysBodyText{
	font-size: 32px;
	font-weight: 500;
	line-height: 48px;
	letter-spacing: 0.20000000298023224px;
	text-align: left;
	margin-bottom: 32px;
	color: #212121;
}

.clientsSaysBodyAuthor{
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0.20000000298023224px;
	color: #757575;
}

.clientsSaysBodyAuthor > span{
	font-size: 20px;
	font-weight: 600;
	line-height: 28px;
	letter-spacing: 0.20000000298023224px;
	color: #757575;
}

.clientsSays{
	margin-bottom: 160px;
}

.FAQ{
	display: flex;
	margin-bottom: 80px;
}

.FAQBody{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 588px;
	margin-right: 70px;
}

.FAQBody > h1 {
	margin-bottom: 16px;
}

.FAQBodyText{
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0.20000000298023224px;
	text-align: left;
	color: #757575;
}

.FAQ-accordion{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 20px 15px;
	gap: 10px;
	width: 542px;
	background: #FFFFFF;
	box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.15);
}

.FAQ-accordion-items summary{
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	font-weight: 550;
	font-size: 20px;
	line-height: 28px;
	width: 542px;
}

.FAQ-accordion-content{
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #757575;
}

.FAQ-accordion-items summary::marker{
	font-size: 0;
}

.FAQ-marker{
	margin-right: 24px;
}

.FAQImg2{
	position: absolute;
	visibility:hidden;
}

.FAQ-accordion-items[open] .FAQImg1{
	visibility: hidden;
	position: absolute;
}

.FAQ-accordion-items[open] .FAQImg2{
	visibility: visible;
	position: relative;
}

/* block-5-6 */

/* block-7-8 */

/* section */
.section__action {
    margin: 80px 0;
}

/* action */

.action {
    display: flex;
    justify-content: space-between;
}

.action__content {
    margin-left: 91px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.action__title {
    font-size: 48px;
    color: #212121;
    font-weight: 600;
    line-height: 58px;
    letter-spacing: 0.2px;
}

.action__subtitle {
    font-size: 16px;
    color: #757575;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.2px;
    margin-top: 16px;
}

/* action__form */

.action__form {
    margin: 48px 0;
}

.form__field {
    display: flex;
    flex: 1 1 0;
}

.field__input {
    max-height: 44px;
    min-width: 367px;
    border: 2px solid #bdbdbd;

    border-radius: 5px;

    padding: 12.5px 0 12.5px 49px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2px;

    transition: 0.2s;
}

.field__input::-webkit-input-placeholder {
    color: #bdbdbd;
}

.field__input:focus {
    outline: 0;
    border-color: #3563e9;
    border: 3px solid #3563e9;
}

.field__inner {
    position: relative;
}

.field__image {
    max-width: 25px;

    position: absolute;
    top: 50%;
    left: 17px;
    z-index: 3;

    transform: translate3d(0, -50%, 0);
}

/* button */

.field__button {
    display: inline-block;
    vertical-align: top;
    background-color: #3563e9;
    border-radius: 5px;
    height: 44px;
    width: 102px;
    margin-left: 15px;

    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.46px;
    color: #fff;

    border: 0;
    cursor: pointer;
    text-align: center;

    transition: 0.2s;
}

.field__button:hover {
    background-color: #bdbdbd;
    color: #333;
}

.subscribe__button {
    display: inline-block;
    vertical-align: top;
    background-color: #3563e9;
    border-radius: 0px 6px 6px 0px;
    height: 50px;
    width: 50px;
    margin: 0;
    padding: 0;

    font-size: 0;
    color: inherit;

    border: 0;
    cursor: pointer;

    transition: 0.2s;
    position: relative;
}

.subscribe__button::before {
    content: '';
    display: block;
    width: 12px;
    height: 2px;

    background-color: #fff;

    border-radius: 2px;

    top: 50%;
    left: 48%;
    bottom: 0;
    z-index: 3;

    transform: rotate(45deg) translate3d(-48%, -50%, 0);
    position: absolute;
}

.subscribe__button::after {
    content: '';
    display: block;
    width: 12px;
    height: 2px;

    background-color: #fff;

    border-radius: 2px;

    top: 48.5%;
    left: 51%;
    bottom: 0;
    z-index: 3;

    transform: rotate(-45deg) translate3d(-48.5%, -51%, 0);
    position: absolute;
}

.subscribe__button:hover {
    background-color: #bdbdbd;
}

.subscribe__button:hover::after,
.subscribe__button:hover::before {
    background-color: #333;
}

/* action__image */

.action__image {
    cursor: pointer;
    margin-right: 91px;
}

.action__img {
    display: block;
}

/* footer */

.footer {
    padding: 100px 0;
    background-color: #3563e9;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    padding: 0 45px;
}

.footer__inner--social {
    padding: 0;
}

.footer__item {
    padding-top: 30px;
}

.footer__item.subscribe {
    padding: 30px 42px;
    background-color: #2851e3;
    max-height: 256px;
}

.footer__item__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    margin-bottom: 5px;
}

.footer__link__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__link {
    display: block;
    text-decoration: none;
    color: #fff;
    opacity: 0.7;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    margin-top: 13px;

    transition: 0.2s;
}

.footer__link__inner.privacy {
    flex-direction: row;
    align-items: center;
}

.footer__link--privacy {
    display: inline-block;
    opacity: 1;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0px;
    margin-right: 36px;

    transition: 0.2s;
}


.footer__link--privacy:last-child {
    margin-right: 0;
}

.footer__link:hover {
    text-decoration: underline;
    opacity: 1;
}

.form__subscribe {
    margin-top: 13px;
    display: flex;
}

.subscribe__input {
    width: 100%;
    max-height: 50px;
    max-width: 198px;
    min-width: 110px;
    border: 1px solid #d6d6d6;
    border-radius: 6px 0 0 6px;

    padding: 0px 0px 0px 15px;
    font-size: 14px;
    line-height: 17px;

    transition: 0.2s;
}

.subscribe__input::-webkit-input-placeholder {
    color: #424242;
    mix-blend-mode: normal;
    opacity: 0.6;
}

.subscribe__input:focus {
    outline: 0;
    border-color: #424242;
    border: 3px solid #424242;
}

.subscribe__text {
    max-width: 254px;

    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;

    color: #fff;
    opacity: 0.7;

    margin: 18px 0 0 0;
}

.footer__social {
    display: flex;
}

.social__icon {
    margin: 10px 15px 0 0;
    border: 2px solid rgba(255, 255, 255, 0.1);
    width: 35px;
    height: 35px;
    border-radius: 50%;

    transition: 0.2s;
}

.social__icon:hover {
    border: 2px solid #bdbdbd;
    background-color: #bdbdbd;
}

.social__icon:last-child {
    margin-right: 0;
}

.social__img {
    display: block;
    margin: 18% auto;
}

/* block-7-8 */
